<%= form_for @brewery do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name ,class: 'form-control'%>
    </p>

    <p>
      <%= f.label :city %><br>
      <%= f.text_area :city, class: 'form-control' %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>