<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>2015 Brewfest</title>
  <script src="https://fb.me/react-0.13.3.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
    $(document).ready(function() {
        if($.cookie('name' === null)) {
            console.log("not logged in");
        }
    });
</script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
          2015 Brewfest
        </span>

      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/breweries">Breweries</a></li>
          <li><a href="/rankings">Rankings</a></li>
        </ul>
        <form id="namebar" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Your Name" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <%= image_tag("Helena-Summer-Festival.png", :border=>0) %>
    </div>
  </div>

  <div class="container-fluid">
        <%= yield %>

    <footer>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= @quote = get_random_quote %>
        </div>


      </div>
    </footer>
  </div>

</body>
</html>
